:root {
  font-family: Lexend, sans-serif;
  font-size: var(--font-size-1);
}

h1 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  margin-block-end: 2rem;
}

h2 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  margin-block-end: 1.5rem;
}

h3 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  margin-block-end: 1.5rem;
}
