:root {
  /* Grey scale colors */
  --color-white: hsl(0deg 0% 100%);
  --color-grey-1: hsl(220deg 14% 95%);
  --color-grey-2: hsl(220deg 11% 75%);
  --color-grey-3: hsl(220deg 13% 40%);
  --color-grey-4: hsl(220deg 19% 15%);
  --color-black: hsl(0deg 0% 0%);

  /* Primary colors */
  --hue-primary: 220;
  --saturation-primary: 60%;
  --color-primary-lighter: hsl(
    var(--hue-primary) var(--saturation-primary) 95%
  );
  --color-primary-light: hsl(var(--hue-primary) var(--saturation-primary) 75%);
  --color-primary: hsl(var(--hue-primary) var(--saturation-primary) 60%);
  --color-primary-dark: hsl(var(--hue-primary) var(--saturation-primary) 45%);
  --color-primary-darker: hsl(var(--hue-primary) var(--saturation-primary) 35%);

  /* Secondary colors */
  --hue-secondary: 25;
  --saturation-secondary: 34%;
  --color-secondary-light: hsl(
    var(--hue-secondary) var(--saturation-secondary) 90%
  );
  --color-secondary: hsl(var(--hue-secondary) var(--saturation-secondary) 60%);
  --color-secondary-dark: hsl(
    var(--hue-secondary) var(--saturation-secondary) 40%
  );

  /* State colors */
  --hue-info: 200;
  --color-info: hsl(var(--hue-info) 80% 65%);
  --color-info-light: hsl(var(--hue-info) 80% 95%);
  --hue-success: 150;
  --color-success: hsl(var(--hue-success) 80% 40%);
  --color-success-light: hsl(var(--hue-success) 80% 95%);
  --hue-error: 0;
  --color-error: hsl(var(--hue-error) 80% 65%);
  --color-error-light: hsl(var(--hue-error) 80% 95%);

  /* Utility colors */
  --color-outline: hsl(var(--hue-primary) var(--saturation-primary) 20%);
}
